
.chestParent {
    height: 250px;
    width: 400px;
    overflow: hidden;
}

.chestWrapper {
    width: 100%;
    height: 100%;
    border: 1px solid;
    background: url('../assets/image/muscle-building-myths-thumb.jpg') no-repeat;
    background-size: cover;
    position: relative;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.chestWrapper:hover {
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.chestOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.chestWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}
.chestWrapper h1 a{
    text-decoration: none;
    color: white;
}

.backParent {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.backWrapper {
    height: 100%;
    width: 100%;
    border: 1px solid;
    background: url('../assets/image/back.jpg') no-repeat;
    background-size: cover;
    position: relative;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.backWrapper h1 a{
    text-decoration:none;
    color:white;
}

.backWrapper:hover{
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.backOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.backWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}

.bicepsParent {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.bicepsWrapper {
    height: 100%;
    width: 100%;
    border: 1px solid;
    background: url('../assets/image/best-biceps-workout-for-men.jpg') no-repeat;
    background-size: cover;
    position: relative;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.bicepsWrapper h1 a{
    text-decoration: none;
    color: white;
}

.bicepsWrapper:hover{
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.bicepsOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.bicepsWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}

.tricepsParent {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.tricepsWrapper {
    border: 1px solid;
    background: url('../assets/image/triceps.jpg') no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}
.tricepsWrapper:hover{
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.tricepsOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.tricepsWrapper h1 a{
    text-decoration: none;
    color: white;
}

.tricepsWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}

.shoulderParent {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.shoulderWrapper {
    border: 1px solid;
    background: url('../assets/image/triceps.jpg') no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}
.shoulderWrapper:hover{
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.shoulderOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.shoulderWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}
.shoulderWrapper h1 a{
    text-decoration: none;
    color: white;
}

.legsParent {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.legsWrapper {
    height: 100%;
    width: 100%;
    border: 1px solid;
    background: url('../assets/image/leg-press.jpg') no-repeat;
    background-size: cover;
    position: relative;
    -webkit-transition: all 1.5s ease-in-out;
    cursor: pointer;
}
.legsWrapper:hover{
    -webkit-transition: all 1.5s ease-in-out;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.legsOverlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.legsWrapper h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 250px;
}
.legsWrapper h1 a{
    text-decoration: none;
    color: white;
}

.row{
    padding: 12px;
    margin-left: 135px;
}

.container{
    padding-left: 180px;
    margin-top: 80px;
    /*background-color: rgba(0,0,0,0.9);*/
}
.ExcerciseHeading{
    font-family: 'Bowlby One SC', cursive;
    color: #f43636;
    position: absolute;
    top: 0px;
    font-weight: bolder;
    font-size: 50px;
    left:60px;
}
