.HomeContainer {
    background-image: url("../assets/image/Male-Female.jpg");
    background-size: cover;
    height:678px;
    position: relative;
}
.HomeChildContainer {
    position: absolute;
    right: 70px;
    top: -20px;
    height:100px;
}

.women{
    width:150px;
    position: absolute;
    top: 300px;
    left: 300px;
}
.women button{
    color:white;
    width: 100%;
    background-color: palevioletred;
    padding: 20px;
    text-align: center;
    border:none;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
}

.homeQuote{
    position: absolute;
    color:white;
    left: 360px;
    bottom: 100px;
    font-size: 50px;
    font-family: 'Bowlby One SC', cursive;
}

.men{
    width: 150px;
    position: absolute;
    top: 300px;
    right: 250px;
}
.men button{
    color:white;
    width:100%;
    background-color: palevioletred;
    padding: 20px;
    text-align: center;
    border:none;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
}

.HomeHeading{
    font-family: 'Bowlby One SC', cursive;
    color: orange;
    position: absolute;
    top: 10px;
    font-weight: bolder;
    font-size: 50px;
    left: 60px;
}