.LandingContainer {
    height: 675px;
    position: relative;
}

.LandingContainer img {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}
.LandingChildContainer {
    position: absolute;
    top: 40px;
    font-size: 33px;
    font-weight: bolder;
    font-family: 'Bowlby One SC', cursive;
    color: orange;
    left: 105px;
}