.WelcomeContainer{
    position:relative;
    height: 675px;

}
.WelcomeContainer img{
    width:100%;
    height:100%;
}

.WelcomeChildContainer {
    position: absolute;
    top: 150px;
    color: white;
    right:100px;
}

.WelcomeChildContainer span {
    display: block;
    font-size: 48px;
    padding:10px;
    font-family: 'Bowlby One SC', cursive;
}
.WelcomeChildContainer button{
    padding: 20px;
    color:white;
    background-color:orange;
    border-radius: 40px;
    width:100%;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    border:3px solid white;
    cursor: pointer;
}